/*
    SPACING SYSTEM (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

    FONT SIZE SYSTEM (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
    */

/* 
    MAIN COLOR: #087F5b 
    GREY COLOR: #343a40
    */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1;
}

.container {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
  margin-top: 200px;
}

.btn {
  height: 40px;
  width: 40px;
  border: 1px solid #087f5b;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.btn:hover {
  background-color: #087f5b;
}
.btn-icon {
  height: 24px;
  width: 24px;
  stroke: #087f5b;
}

.btn-icon:hover {
  stroke: #fff;
}

a:link {
  text-decoration: none;
  color: #000;
  height: 30px;
  width: 30px;
  background-color: #fff;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

a:hover {
  /* border: 1px solid #087f5b; */
  height: 30px;
  width: 30px;
  background-color: #087f5b;
  color: #fff;
}

a.selected {
  background-color: #087f5b;
  color: white;
}
